{
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "ignorePatterns": ["dist/**", "node_modules"],
  "rules": {
    "no-warning-comments": ["off"]
  }
}
