{
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/react",
    "plugin:@shopify/node",
    "plugin:@shopify/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["out/**", "node_modules", ".next"],
  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "@shopify/jsx-no-hardcoded-content": ["off"],
    "@typescript-eslint/member-delimiter-style": ["off"]
  }
}
